extends layout 

block content
    section(class="index" id="index")
        
        div(class="image")
            img(src="/images/home.jpg", alt="", srcset="")
        
        div(class="content")
            h3() Stay safe
            p() Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem possimus, aliquid neque iste, ut, inventore expedita unde velit illo dignissimos rem qui dolor facere recusandae ducimus. Et id consequatur corrupti!
            a(href="#" class="btn") contact us
                span(class="fas fa-chevron-right")  
    
    section(class="index" id="about")
        
        div(class="content")
            h3() About 
            p() Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem possimus, aliquid neque iste, ut, inventore expedita unde velit illo dignissimos rem qui dolor facere recusandae ducimus. Et id consequatur corrupti!
            a(href="#" class="btn") contact us
                span(class="fas fa-chevron-right")

        div(class="image")
            img(src="/images/home-1.jpg", alt="", srcset="")  
